.series-title-container {
    text-align: center;
    margin: 0;
    font-weight: 400;
}

.series-title-anchor {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.series-title {
    font-size: 20px;
}

.series-id {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.series-container {
    display: inline-block;
    left: 0;
    margin: 0 30px 30px 0;
    width: 330px;
    height: 450px;
    border: 1px solid #C8C8C8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.series-found {
    background-color: #FAFAFA;
    animation: color_change_found 1s;
}

.series-not-found {
    background-color: #e8d0cc;
    animation: color_change_found_not_found 1s;
}

.series-item {
    padding: 0 0;
}

.series-actors {
    width: 100%;
    height: 380px;
    overflow-y: scroll;
}

.series-delete-button-container {
    text-align: right;
    padding: 10px 10px 0 0;
}

.delete-button {
    -webkit-appearance: none;
    display: inline-block;
    cursor: pointer;
    color: #FAFAFA;
    background: #CA0913;
    border: 0 solid transparent;
    border-radius: 20px;
    height: 25px;
    width: 25px;
    font-weight: 500;
    font-size: 12px;
}

.no-actors-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 25px;
    height: 100%;
    width: 100%;
    display: table;
}

.no-actors-p {
    color: #ce2b40;
    margin-top: calc(50% - 80px);
    text-align: center;
}


@-webkit-keyframes color_change_found {
    from { background-color: #fff6c6; }
    to { background-color: #FAFAFA; }
}
@-moz-keyframes color_change_found {
    from { background-color: #fff6c6; }
    to { background-color: #FAFAFA; }
}
@-ms-keyframes color_change_found {
    from { background-color: #fff6c6; }
    to { background-color: #FAFAFA; }
}
@-o-keyframes color_change_found {
    from { background-color: #fff6c6; }
    to { background-color: #FAFAFA; }
}
@keyframes color_change_found {
    from { background-color: #fff6c6; }
    to { background-color: #FAFAFA; }
}

@-webkit-keyframes color_change_found_not_found {
    from { background-color: #FAFAFA; }
    to { background-color: #e8d0cc; }
}
@-moz-keyframes color_change_found_not_found {
    from { background-color: #FAFAFA; }
    to { background-color: #e8d0cc; }
}
@-ms-keyframes color_change_found_not_found {
    from { background-color: #FAFAFA; }
    to { background-color: #e8d0cc; }
}
@-o-keyframes color_change_found_not_found {
    from { background-color: #FAFAFA; }
    to { background-color: #e8d0cc; }
}
@keyframes color_change_found_not_found {
    from { background-color: #FAFAFA; }
    to { background-color: #e8d0cc; }
}