.series-list {
    /* top section height: 104px*/
    padding: 0 25px 10px 25px;
    height: calc(100% - 155px - 35px);
}

p {
    text-align: left;
}

.list-title-container {
    text-align: left;
}

.list-elements-container {
    height: calc(100% - 5px);
    overflow-y: scroll;
    text-align: left;
}

@media screen and (max-width: 689px) {
    .series-list {
        /* top section height: 130px*/
        height: calc(100% - 184px - 35px);
    }
}

@media screen and (max-width: 434px) {
    .series-list {
        /* top section height: 160px*/
        height: calc(100% - 210px - 35px);
    }
}