.toast {
    width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    z-index: 1;
    font-size: 14px;
}

.toast-success {
    background-color: #50ca7e;
}

.toast-error {
    background-color: #ca0913;
}