.series-form-container {
    background: #FAFAFA;
    padding: 20px 50px;
    text-align: left;
}

#form-title-wrapper {
    margin-bottom: 10px;
}

.form-title {
    font-weight: 700;
    font-size: 17px;
}

.beautiful-button {
    -webkit-appearance: none;
    cursor: pointer;
    color: #FAFAFA;
    background: #50ca7e;
    border: 0 solid transparent;
    border-radius: 5px;
    min-width: 80px;
    min-height: 30px;
    font-weight: 500;
    font-size: 12px;
}

.series-form-input {
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #E9E9E9;
    margin: 0 5px 0 0;
    min-width: 250px;
    min-height: 30px;
    font-weight: 500;
    line-height: 10px;
}