.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    background: #FAFAFA;
    text-align: left;
    padding: 20px 35px;
    z-index: 100;
}

.header-link {
    display: inline-block;
    margin-right: 10px;
}

.header-link a {
    color: #50ca7e;
    font-size: 15px;
}

.header-link a:hover {
    color: #50ca7e;
    cursor: pointer;
}

.header-link a:visited {
    color: #50ca7e;
}

.header-title {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
}
