.actor-element-container {
    position: relative;
    display: table;
    margin: 10px auto;
    background: #FAFAFA;
    padding: 10px;
    width: 250px;
    border: 1px solid #C8C8C8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

.actor-info-element {
}

.actor-text-elements {
    overflow: hidden;
    margin-left: 10px;
}

.actor-photo {
    float: left;
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.actor-photo img {
    max-height: 110px;
    margin: 0 0 0 0;
}

.actor-name-text {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.actor-character-text {
    font-weight: 400;
    font-size: 14px;
    color: #A5A5A5;
}