.actor-list-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 25px;
    height: 100%;
    width: 100%;
}

.actor-list-ul {
    list-style-type: none;
    padding: 0;
}