body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: rgb(228, 228, 228);
}

html, body {
  height: 100%;
  width: 100%;
}

#root, .App {
  height: 100%;
  width: 100%;
}

.fadeIn {
  opacity: 1;
  animation: fadein-anim 1s;
}

.fadeOut {
  opacity: 0;
  animation: fadeout-anim 1s;
}

.detail-page {
  margin-top: 64px;
}

@-webkit-keyframes fadein-anim {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadein-anim {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fadein-anim {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-o-keyframes fadein-anim {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadein-anim {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeout-anim {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fadeout-anim {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-ms-keyframes fadeout-anim {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-o-keyframes fadeout-anim {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fadeout-anim {
  from { opacity: 1; }
  to { opacity: 0; }
}
