.actor-info-container {
    display: block;
    width: 450px;
    text-align: left;
    background: #FAFAFA;
    border: 1px solid #C8C8C8;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

.actor-info-container div {
    display: inline-block;
}

.actor-info-photo-container {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 110px;
}

.actor-info-photo-container img {
    display: inline-block;
    height: 310px;
    margin: -5px 0 0 0;
}

.actor-text-container {
    margin-left: 15px;
}

.actor-text-container span {
    display: block;
}

.actor-info-c-name {
    font-weight: 700;
    font-size: 22px;
}

.actor-info-c-detail {
    font-size: 16px;
}

.actor-info-c-element {
    vertical-align: middle;
}