.actor-series-container-list {
    display: block;
    width: 450px;
    text-align: left;
    background: #FAFAFA;
    border: 1px solid #C8C8C8;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    float: left;
}

.actor-series-container-list p:first-child {
    display: block;

    font-weight: 700;
    font-size: 20px;

    margin: 10px 0;
}

.actor-series-container-list ul {
    list-style-type: none;
}

.actor-series-element-li {
    border-bottom: 1px solid #C8C8C8;
    text-align: left;
    padding-bottom: 7px;
    margin-bottom: 15px;
    width: 100%;
}